@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .all{
        margin: 40px
    }
  html{
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color:black;
  font-family: Arial, Helvetica, sans-serif;
   display: flex;
   justify-content: center;
   background-color:  rgba(253, 255, 253, 0.849);  

}
.firsty{
    position: relative;
 font-size: 50px;
 font-weight: 600;
 margin-left: 18rem;
 margin-top: -2rem;
 z-index:8;


}
.secondy{
    font-size: 23px;
    font-weight: 700;
    margin: 2rem;
    /* i added */
    margin-left: 21rem;

}

#boom{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
    margin-left: 39px;
    height: 44px;
    width: 200px;
    background-color:   rgba(196, 255, 210, 0.849);
    border: 0px solid rgb(88, 145, 72);
    border-radius: 6px;
   
}
.butt1{
    height: 45px;
    width: 70px;
    background-color: rgb(161, 252, 173);
    margin : 20px;
    border: 3px solid rgb(133, 247, 129);
    margin-bottom: 20px;
    width : 120px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    color:black;
   
}
.butt1:hover{
    transform: scale(1.2);
    background-color: rgb(133, 245, 108);
    
}
@keyframes loo {
    from {transform: scale(1)}
    to{transform: scale(1.14)}
}
.butt2{
    height: 45px;
    width: 220px;
    background-color: rgb(217, 221, 253);
    margin-left : 31rem;
    border: 3px solid #9d98fc;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    animation-name: loo;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: aternate;
    color:black;
}
.butt3{
    height: 32px;
    width: 22px;
    background-color: rgb(140, 255, 155);
   margin-left : 900px;
    border: 3px solid rgb(185, 255, 182);
    margin-bottom: 20px;
    width : 120px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    color:black;
}
.butt4{
    height: 32px;
    width: 22px;
    margin-left: 10px;
    background-color: rgb(209, 214, 252);
    border: 3px solid #bfbcfa;
    margin-bottom: 20px;
    width : 120px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    color:black;
}

.butt2:hover{
    transform: scale(1.2);
    background-color: rgb(105, 179, 248);
    
}
.line1{
    
     width: 18px;
    height: 4px;
     margin:4px;
     background-color:rgb(130, 122, 250);
}
.line{
    background-color: rgb(10, 173, 5);;
    width: 23px;
    height: 3px;
     margin:4px;
}
.hamburger{
    cursor: pointer;
    margin-left: 1100px;
}
.div{
    display: flex;
    
}

  
}
.globe{
    margin-left: rem;
}
.look{
    
    position: absolute;
margin-left: 57rem;
margin-top: -16rem;
z-index:1;
}
