@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .all{
        margin: 40px
    }
  html{
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color : rgb(11, 196, 57);
  font-family: Arial, Helvetica, sans-serif;
   display: flex;
   justify-content: center;
   background-color:  rgba(230, 243, 233, 0.849);  

}
.firsty{
 font-size: 50px;
 font-weight: 300;
 margin-left:170px;
 margin-top:100px;


}
.secondy{
    font-size: 23px;
    font-weight: 500;
    margin:50px;
    /* i added */
    margin-left:230px;

}

#boom{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
    margin-left: 39px;
    height: 44px;
    width: 200px;
    background-color:   rgba(196, 255, 210, 0.849);
    border: 0px solid rgb(88, 145, 72);
    border-radius: 6px;
}
.butt1{
    height: 45px;
    width: 70px;
    background-color: rgb(139, 253, 154);
    margin : 20px;
    border: 3px solid rgb(10, 173, 5);
    margin-bottom: 20px;
    width : 120px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
   
}
.butt1:hover{
    transform: scale(1.2);
    background-color: rgb(133, 245, 108);
    
}
@keyframes loo {
    from {transform: scale(1)}
    to{transform: scale(1.14)}
}
.butt2{
    height: 45px;
    width: 220px;
    background-color: rgb(204, 208, 236);
    margin-left : 420px;
    border: 3px solid rgb(130, 122, 250);
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    animation-name: loo;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: aternate;
}
.butt3{
    height: 32px;
    width: 22px;
    background-color: rgb(139, 253, 154);
   margin-left : -300px;
    border: 3px solid rgb(10, 173, 5);
    margin-bottom: 20px;
    width : 120px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}
.butt4{
    height: 32px;
    width: 22px;
    margin-left: 10px;
    background-color: rgb(204, 208, 236);
    border: 3px solid rgb(130, 122, 250);
    margin-bottom: 20px;
    width : 120px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}

.butt2:hover{
    transform: scale(1.2);
    background-color: rgb(105, 179, 248);
    
}
.line1{
    
     width: 18px;
    height: 4px;
     margin:4px;
     background-color:rgb(130, 122, 250);
}
.line{
    background-color: rgb(10, 173, 5);;
    width: 23px;
    height: 3px;
     margin:4px;
}
.hamburger{
    cursor: pointer;
    margin-left: 1100px;
}
.div{
    display: flex;
    
}

  
}
